<div class="widget widget-table">

									<div class="widget-header">
										<h3><i class="fa fa-group"></i> Available DAO's</h3>
										<em>- List of Autonomous Organizations</em>
										<div class="btn-group widget-header-toolbar">
											<a href="" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
											<a href="" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
											<a href="" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
										</div>
										<div class="btn-group widget-header-toolbar">
											<div class="label label-danger"><i class="fa fa-warning"></i> 2 Critical Messages</div>
										</div>
									</div>
									<div class="col-md-12" class="widget-content">
										<div id="ticket-table_wrapper" class="dataTables_wrapper form-inline no-footer">
										<div class="row">
										<div style="margin-top:2%;"></div>
										<div class="col-md-7">
											<div id="ticket-table_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="ticket-table"></label>
											</div>
										</div>
										</div>

										<table id="ticket-table" class="table table-sorting dataTable no-footer" role="grid">
											<thead>
												<tr role="row">

												<th class="sorting_asc" tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Number: activate to sort column ascending" style="width: 83px;">Number</th>

												<th class="sorting" tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 154px;">Date</th>

												<th class="sorting" tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 145px;">Category</th>

												<th class="sorting" tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 75px;">Name</th>
												
												<th class="sorting" tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" aria-label="Title: activate to sort column ascending" style="width: 266px;">Title</th>

												<th class="sorting" tabindex="0" aria-controls="ticket-table" rowspan="1" colspan="1" aria-label="Priority: activate to sort column ascending" style="width: 110px;">Priority</th>
												</tr>
											</thead>
											<tbody>
											<tr role="row" class="odd">
													<td class="sorting_1">
														<a href="#">[#18765]</a>
													</td>
													<td>Nov 21, 2013 15:45</td>
													<td>Front-End Site</td>
													<td>Smith</td>
													<td>
														<a href="#">Product Review Problem</a>
													</td>
													<td>
														<span class="label label-high">#4 - High</span>
													</td>
												</tr><tr role="row" class="even">
													<td class="sorting_1">
														<a href="#">[#18766]</a>
													</td>
													<td>Nov 21, 2013 16:12</td>
													<td>Technical Support</td>
													<td>Sean</td>
													<td>
														<a href="#">Can't Download the Guide Doc</a>
													</td>
													<td>
														<span class="label label-medium">#5 - Medium</span>
													</td>
												</tr><tr role="row" class="odd">
													<td class="sorting_1">
														<a href="#">[#18767]</a>
													</td>
													<td>Nov 21, 2013 16:43</td>
													<td>General Info</td>
													<td>Jane Doe</td>
													<td>
														<a href="#">Regarding Customer Support</a>
													</td>
													<td>
														<span class="label label-medium">#5 - Medium</span>
													</td>
												</tr><tr role="row" class="even">
													<td class="sorting_1">
														<a href="#">[#18768]</a>
													</td>
													<td>Nov 22, 2013 08:24</td>
													<td>General Info</td>
													<td>Smith</td>
													<td>
														<a href="#">Can't Change My Address</a>
													</td>
													<td>
														<span class="label label-urgent">#3 - Urgent</span>
													</td>
												</tr><tr role="row" class="odd">
													<td class="sorting_1">
														<a href="#">[#18769]</a>
													</td>
													<td>Nov 22, 2013 08:30</td>
													<td>Sales</td>
													<td>Smith</td>
													<td>
														<a href="#">Review Tab Malfunction</a>
													</td>
													<td>
														<span class="label label-low">#6 - Low</span>
													</td>
												</tr><tr role="row" class="even">
													<td class="sorting_1">
														<a href="#">[#18770]</a>
													</td>
													<td>Nov 22, 2013 08:47</td>
													<td>Front-End Site</td>
													<td>John Doe</td>
													<td>
														<a href="#">Broken Link</a>
													</td>
													<td>
														<span class="label label-emergency">#2 - Emergency</span>
													</td>
												</tr><tr role="row" class="odd">
													<td class="sorting_1">
														<a href="#">[#18771]</a>
													</td>
													<td>Nov 23, 2013 14:08</td>
													<td>Sales</td>
													<td>Jack</td>
													<td>
														<a href="#">Need Info About My Order Status</a>
													</td>
													<td>
														<span class="label label-critical">#1 - Critical</span>
													</td>
												</tr><tr role="row" class="even">
													<td class="sorting_1">
														<a href="#">[#18772]</a>
													</td>
													<td>Nov 23, 2013 17:45</td>
													<td>Techincal Support</td>
													<td>Darren</td>
													<td>
														<a href="#">Bouncing Email</a>
													</td>
													<td>
														<span class="label label-critical">#1 - Critical</span>
													</td>
												</tr></tbody>
										</table><div class="row"></div></div>
									</div>
								</div>										

