<div class="col-md-4 widget widget-table">
<div class="stats upload-files">
    <div class="upload-files-top">
        <div id="cont-upload" class="">
            <form method="post" id="form-file-upload">
                <input type="file" name="file" id="in-upload" multiple="">
            </form>
            <label for="in-upload" class="btn btn-block btn-upload btn-lg">
                <i class="fa fa-cloud-upload"></i> Upload
            </label>
            <span class="caption text-center">or use drag-and-drop</span>
        </div>
        <div id="cont-uploading" class="invis">
            <p><i class="fa fa-cloud-upload"></i> Uploading to the node…</p>
            <div class="progress progress-striped">
                <div id="span-up-prog" class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;">
                    0%
                </div>
            </div>
        </div>
        <div id="cont-uploaded" class="invis">
            <input id="span-dl-link" class="form-control col-sm-6 col-xs-12 col-md-12" type="text">
            <button id="btn-upload-another" class="btn btn-primary col-sm-6 col-xs-12 col-md-12"><i class="fa fa-arrow-circle-left"></i> Back to Upload</button>
        </div>
    </div>
    <hr>
    <div class="cf">
        <p class="stats-label pull-left">File Size Limit</p>
        <span id="cont-file-size-limit" class="pull-right text-muted">0.25 GB</span>
    </div>
</div>
</div>

<div class="col-md-8">
<!-- WIDGET TABLE -->
<div class="widget widget-table">
	<div class="widget-header">
		<h3><i class="fa fa-desktop"></i> Your Files</h3>
		<div class="btn-group widget-header-toolbar">
			<a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
			<a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
		</div>
	</div>
	<div class="widget-content">
		<div id="visit-stat-table_wrapper" class="dataTables_wrapper form-inline no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="visit-stat-table_length"><label><select name="visit-stat-table_length" aria-controls="visit-stat-table" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div></div><div class="col-sm-6"><div id="visit-stat-table_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="visit-stat-table"></label></div></div></div><table id="visit-stat-table" class="table table-sorting table-striped table-hover datatable dataTable no-footer" role="grid" aria-describedby="visit-stat-table_info">
			<thead>
				<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="visit-stat-table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="ascending" style="width: 106px;">Name</th><th class="sorting" tabindex="0" aria-controls="visit-stat-table" rowspan="1" colspan="1" aria-label="Operating System: activate to sort column ascending" style="width: 129px;">Hash/th><th class="sorting" tabindex="0" aria-controls="visit-stat-table" rowspan="1" colspan="1" aria-label="Visits: activate to sort column ascending" style="width: 49px;">url</th></tr>
			</thead>
			<tbody>	
			<tr role="row" class="odd">
					<td class="sorting_1">rsz_img_0019.jpg</td>
					<td>b2fd9a67792345a1dca207fb44b</td>
					<td>/download/62dbf7d85c655d061597fd0</td>
				</tr>
				<tr role="row" class="even">
					<td class="sorting_1">Chrome.jpg</td>
					<td>62dbf7d85c23525d061597fd0</td>
					<td>/download/62dbf7d85c655d061597fd0a35cce39942b042f06f93ae8d21d1b140761239c8</td>
				</tr></tbody>
		</table>
		<div class="row"><div class="col-sm-6"><div class="dataTables_info" id="visit-stat-table_info" role="status" aria-live="polite">Showing 1 to 10 of 13 entries</div></div><div class="col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="visit-stat-table_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="visit-stat-table" tabindex="0" id="visit-stat-table_previous"><a href="">Previous</a></li><li class="paginate_button active" aria-controls="visit-stat-table" tabindex="0"><a href="">1</a></li><li class="paginate_button " aria-controls="visit-stat-table" tabindex="0"><a href="">2</a></li><li class="paginate_button next" aria-controls="visit-stat-table" tabindex="0" id="visit-stat-table_next"><a href="#">Next</a></li></ul></div></div></div>
		</div>
	</div>
</div>
<!-- END WIDGET TABLE -->
</div>									