										<!-- WIDGET TABLE -->
										<div class="widget widget-table">
											<div class="widget-header">
												<h3><i class="fa fa-desktop"></i> Browser &amp; OS</h3>
												<div class="btn-group widget-header-toolbar">
													<a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
													<a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
													<a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
												</div>
												<div class="btn-group widget-header-toolbar">
													<div class="control-inline toolbar-item-group">
														<span class="control-title">New Visits:</span>
														<div class="label label-success"><i class="fa fa-caret-up"></i> 3.5%</div>
													</div>
												</div>
											</div>
											<div class="widget-content">
												<div id="visit-stat-table_wrapper" class="dataTables_wrapper form-inline no-footer"><div class="row"><div class="col-sm-6"><div class="dataTables_length" id="visit-stat-table_length"><label><select name="visit-stat-table_length" aria-controls="visit-stat-table" class="form-control input-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> records per page</label></div></div><div class="col-sm-6"><div id="visit-stat-table_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="visit-stat-table"></label></div></div></div><table id="visit-stat-table" class="table table-sorting table-striped table-hover datatable dataTable no-footer" role="grid" aria-describedby="visit-stat-table_info">
													<thead>
														<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="visit-stat-table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" aria-sort="ascending" style="width: 106px;">Browser</th><th class="sorting" tabindex="0" aria-controls="visit-stat-table" rowspan="1" colspan="1" aria-label="Operating System: activate to sort column ascending" style="width: 129px;">Operating System</th><th class="sorting" tabindex="0" aria-controls="visit-stat-table" rowspan="1" colspan="1" aria-label="Visits: activate to sort column ascending" style="width: 49px;">Visits</th><th class="sorting" tabindex="0" aria-controls="visit-stat-table" rowspan="1" colspan="1" aria-label="New Visits: activate to sort column ascending" style="width: 83px;">New Visits</th></tr>
													</thead>
													<tbody>
														
														
														
														
														
														
														
														
														
														
														
														
														
													<tr role="row" class="odd">
															<td class="sorting_1">Chrome</td>
															<td>Macintosh</td>
															<td>360</td>
															<td>82.78%</td>
														</tr><tr role="row" class="even">
															<td class="sorting_1">Chrome</td>
															<td>Windows</td>
															<td>582</td>
															<td>87.24%</td>
														</tr><tr role="row" class="odd">
															<td class="sorting_1">Chrome</td>
															<td>Linux</td>
															<td>172</td>
															<td>45.21%</td>
														</tr><tr role="row" class="even">
															<td class="sorting_1">Chrome</td>
															<td>iOS</td>
															<td>86</td>
															<td>35.23%</td>
														</tr><tr role="row" class="odd">
															<td class="sorting_1">Chrome</td>
															<td>iOS</td>
															<td>45</td>
															<td>23.21%</td>
														</tr><tr role="row" class="even">
															<td class="sorting_1">Firefox</td>
															<td>Windows</td>
															<td>280</td>
															<td>63.12%</td>
														</tr><tr role="row" class="odd">
															<td class="sorting_1">Firefox</td>
															<td>Android</td>
															<td>236</td>
															<td>58.02%</td>
														</tr><tr role="row" class="even">
															<td class="sorting_1">Firefox</td>
															<td>Windows</td>
															<td>67</td>
															<td>27.11%</td>
														</tr><tr role="row" class="odd">
															<td class="sorting_1">Internet Explorer</td>
															<td>Windows</td>
															<td>145</td>
															<td>45.23%</td>
														</tr><tr role="row" class="even">
															<td class="sorting_1">Opera</td>
															<td>Windows</td>
															<td>328</td>
															<td>67.12%</td>
														</tr></tbody>
												</table><div class="row"><div class="col-sm-6"><div class="dataTables_info" id="visit-stat-table_info" role="status" aria-live="polite">Showing 1 to 10 of 13 entries</div></div><div class="col-sm-6"><div class="dataTables_paginate paging_simple_numbers" id="visit-stat-table_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="visit-stat-table" tabindex="0" id="visit-stat-table_previous"><a href="#">Previous</a></li><li class="paginate_button active" aria-controls="visit-stat-table" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="visit-stat-table" tabindex="0"><a href="#">2</a></li><li class="paginate_button next" aria-controls="visit-stat-table" tabindex="0" id="visit-stat-table_next"><a href="#">Next</a></li></ul></div></div></div></div>
											</div>
										</div>
										<!-- END WIDGET TABLE -->

										<!-- WIDGET DONUT AND PIE CHART -->
										<div class="widget">
											<div class="widget-header">
												<h3><i class="fa fa-truck"></i> Traffic Source</h3>
												<em>- Visits based on source of traffic</em>
												<div class="btn-group widget-header-toolbar">
													<a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
													<a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
													<a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
												</div>
											</div>
											<div class="widget-content">
												<div class="demo-flot-chart" id="demo-donut-chart" style="padding: 0px; position: relative;"><canvas class="flot-base" width="460" height="350" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 460px; height: 350px;"></canvas><canvas class="flot-overlay" width="460" height="350" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 460px; height: 350px;"></canvas><span class="pieLabel" id="pieLabel0" style="position: absolute; top: 215px; left: 328px;"><div class="donut-label">Direct<br>65%</div></span><span class="pieLabel" id="pieLabel1" style="position: absolute; top: 155px; left: 75px;"><div class="donut-label">Referral<br>20%</div></span><span class="pieLabel" id="pieLabel2" style="position: absolute; top: 38px; left: 149px;"><div class="donut-label">Others<br>15%</div></span></div>
												<div class="panel panel-default panel-pie-chart">
													<div class="panel-heading">
														<h3 class="panel-title">Last Week Visits</h3>
													</div>
													<div class="panel-body">
														<ul class="list-inline">
															<li>
																<span id="mini-pie-chart1" class="mini-pie-chart"><canvas width="13" height="13" style="display: inline-block; vertical-align: top; width: 13px; height: 13px;"></canvas></span>
																<div>Mon</div>
															</li>
															<li>
																<span id="mini-pie-chart2" class="mini-pie-chart"><canvas width="13" height="13" style="display: inline-block; vertical-align: top; width: 13px; height: 13px;"></canvas></span>
																<div>Tue</div>
															</li>
															<li>
																<span id="mini-pie-chart3" class="mini-pie-chart"><canvas width="13" height="13" style="display: inline-block; vertical-align: top; width: 13px; height: 13px;"></canvas></span>
																<div>Wed</div>
															</li>
															<li>
																<span id="mini-pie-chart4" class="mini-pie-chart"><canvas width="13" height="13" style="display: inline-block; vertical-align: top; width: 13px; height: 13px;"></canvas></span>
																<div>Thu</div>
															</li>
															<li>
																<span id="mini-pie-chart5" class="mini-pie-chart"><canvas width="13" height="13" style="display: inline-block; vertical-align: top; width: 13px; height: 13px;"></canvas></span>
																<div>Fri</div>
															</li>
															<li>
																<span id="mini-pie-chart6" class="mini-pie-chart"><canvas width="13" height="13" style="display: inline-block; vertical-align: top; width: 13px; height: 13px;"></canvas></span>
																<div>Sat</div>
															</li>
															<li>
																<span id="mini-pie-chart7" class="mini-pie-chart"><canvas width="13" height="13" style="display: inline-block; vertical-align: top; width: 13px; height: 13px;"></canvas></span>
																<div>Sun</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
										<!-- END WIDGET DONUT AND PIE CHART -->