    
<div id="login" id="backgroundimage" class="row">
<div class="col-xs-6 col-md-1"></div>
<div class="col-xs-6 col-md-10">
  <h3>Lightchain</h3>
   <div style="background: url(../img/lightchain_circleblack.png) no-repeat center;
width: 400px;
height: 400px; background-size:cover; margin: auto;"></div>
    <div class="box-signin radius">
      <form ng-submit="submit()" class="form-inline" name="loginForm" ng-controller="BlobCtrl">
	<div  class="col-md-6" class="input-group">
		<label for="login_username">Ripple name</label>

	
		<input id="login_username" class="col-md-12"  name="login_username"  type="text" ng-model="username" class="form-control"/>
		</div>
					<div class="col-md-6"  class="form-group">
		<label for="login_password">Password</label>

		<input id="login_password"  class="col-md-12"  name="login_password" type="password" ng-model="password" class="form-control"/>
		</div>
		<div class="submit-btn-container">
		     <button type="submit" id="submit" ng-click="startSpin()"  class="btn btn-default btn-lg col-md-12">
		        <span>Explore</span></button>
		</div>

	</form> 
  </div>
</div>
  <div class="col-xs-6 col-md-1"></div>
</div>


